* {
    padding: 0;
    margin: 0;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.lit-box {
    height: 100px;
    width: 100px;
    background-color: maroon;
    animation: animate1 3000ms infinite;
}

@keyframes animate1 {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(0px, 200px);
        background-color: red;
    }

    /* 50% {
        transform: translate(0px, 200px);
        background-color: pink;
    } */
    50% {
        transform: translate(200px, 200px);
        background-color: rgb(44, 15, 15);
    }
    75% {
        transform: translate(200px, 0px);
        background-color: pink;
    }
    100% {
        transform: translate(0px, 0px);
    }
}
